.row-fluid .span3 {
	min-width: 183px !important;
}

.content .summary .no-overflow {
	overflow: initial
}

.dropdown .caret {
    margin-top: 18px;
}

.nav-collapse.collapse {
	display: block;
	visibility: visible;
}

[role="main"] > div > .no-overflow {
    overflow:visible
}

@media (max-width: 979px) and (min-width: 769px) {
	.row-fluid .span8 {
		width: 63.745856% !important;
	}
	
	#block-region-side-post {
	    margin-left: -5px !important;
	    position: relative !important;
	    left: 29px !important;
	}

	.row-fluid [class*="span"]:nth-child() {
	    margin-left: 0px !important;
	}

}
