 /*
		__  _______ ____      ____  ___   _____ ______
	   / / / / ___// __ \    / __ )/   | / ___// ____/
	  / / / /\__ \/ / / /   / __  / /| | \__ \/ __/
	 / /_/ /___/ / /_/ /   / /_/ / ___ |___/ / /___
	 \____//____/\___\_\  /_____/_/  |_/____/_____/

		_____________  ____    ___________
	   / ___/_  __/\ \/ / /   / ____/ ___/
	   \__ \ / /    \  / /   / __/  \__ \
	  ___/ // /     / / /___/ /___ ___/ /
	 /____//_/     /_/_____/_____//____/


{
	"Job Number": "2015-1858",
	"Job Name": "acode-benchmark-assessment-tool",
	"Developer": "Shane Gadsby",
	"Client": "Michael Sankey, Pamela Glossop",
	"Course": "n/a",
	"Department": "LEM, ACODE"
}

*/



.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}

ef {
    font-family: 'Open Sans', 'Arial', sans-serif !important;
}

.acode-button {
    border-radius: 5px;
    display: inline-block;
    border: none;
    min-width: 157px;
    height: 40px;
    margin: 5px 10px;
    font-size: 17px;
    text-transform: uppercase;
    vertical-align: top;
    transition: all 160ms ease-in-out;
    /* float: right; */
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}


.acode-button-red {
    background-color: #e63e30;
    color: #fff;
}

.acode-button-blue {
    background-color: #0090ba;
    color: #fff;
}

.acode-button-green {
    background-color: #7ac943;
    color: #fff;
}

.acode-institute-selector {
    width: 361px;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    border: 1px solid #ccc;
    margin: 0 10px;
    font-size: 14px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}

.acode-institute-selector .caret {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.acode-institute-selector span {
    cursor: pointer;
}

.acode-institute-selector .dropdown-menu {
    max-height: 250px;
    overflow: auto;
    width: 100%;
}

.acode-active-list-item {
    background-color: rgba(192, 192, 192, 0.22);
}

[disabled].acode-button {
    background-color: #ececec;
    color: #CCC;
    cursor: no-drop;
}

[disabled].acode-institute-selector {
    opacity: 0.3;
    background-color: #F5F5F5;
}

.acode-institute-profile-row-title {
    /* position: absolute; */
    left: -31px;
    top: 0;
    bottom: 0;
    width: 198px;
    padding-right: 22px;
    height: 48px;
    padding: 0 10px;
    font-size: 11px;
    /* display: table; */
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 19px;
    margin: 0;
    border-right: 1px solid #b2b2b2;
    vertical-align: top;
}

.acode-institute-profile-row-input {
    /* display: inline-block; */
    vertical-align: middle;
    /* height: auto; */
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 21px; */
    /* right: 0; */
    /* border-left: 1px solid #b2b2b2; */
    position: relative;
    /* max-width: 540px; */
    /* z-index: 100000; */
}

.acode-institute-profile {
    border: #b2b2b2 solid 1px;
    margin: 10px;
    width: 706px;
}

.acode-institute-snapshot {
    border: #b2b2b2 solid 1px;
    margin: 10px;
}


.acode-institute-profile-row {
    border-top: 1px solid #b2b2b2;
    /* min-height: 48px; */
    /* position: relative; */
    /* height: auto; */
    vertical-align: top;
}

.acode-institute-profile-row-input input {
    /* margin-left: -4px; */
    min-height: 47px;
    height: 137%;
    border: none;
    /* background-color: #f00; */
    width: 48px;
    /* padding: 10px; */
    font-weight: 300;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 11px;
}

.acode-institute-profile-row-title span {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.acode-institute-profile-title,
.acode-institute-snapshot-title {
    background-color: #666666;
    height: 40px;
    color: #fff;
    padding-left: 20px;
    line-height: 40px;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
}

.acode-survey {
    /* padding-bottom: 60px; */
    /* width: 726px; */
}

.acode-survey-form {
    /* padding-bottom: 60px; */
    display: inline-block;
    min-width: 726px;
    /* overflow: visible !important; */
}

.acode-button-continue {
    /* width: 127px; */
    float: right;
}

.acode-side-menu {
    width: 245px;
    display: inline-block;
    text-transform: uppercase;
    padding-right: 30px;
    /* position: fixed; */
}

.acode-side-menu-item {
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    padding-left: 10px;
}

.acode-side-menu-item:after {
	content: ' ';
	width: 9px;
	height: 16px;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOmE9Imh0dHA6Ly9ucy5hZG9iZS5jb20vQWRvYmVTVkdWaWV3ZXJFeHRlbnNpb25zLzMuMC8iIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iOC44cHgiIGhlaWdodD0iMTUuMXB4IiB2aWV3Qm94PSIwIDAgOC44IDE1LjEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDguOCAxNS4xOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQoJPHBhdGggc3R5bGU9ImZpbGw6I0NDQ0NDQzsiIGZpbGw9IiNDQ0NDQ0MiIGQ9Ik0wLjIsMC45QzAuMSwxLDAsMS4xLDAsMS4zYzAsMC4xLDAuMSwwLjIsMC4yLDAuM2w2LDUuOWwtNiw2QzAuMSwxMy42LDAsMTMuNywwLDEzLjljMCwwLjEsMC4xLDAuMiwwLjIsMC4zIEwwLjksMTVjMC4xLDAuMSwwLjIsMC4xLDAuMywwLjFzMC4yLDAsMC4zLTAuMWw3LjEtNy4xYzAuMS0wLjEsMC4yLTAuMiwwLjItMC4zYzAtMC4xLDAtMC4yLTAuMi0wLjNMMS42LDAuMkMxLjUsMCwxLjQsMCwxLjMsMCBTMSwwLDAuOSwwLjJMMC4yLDAuOUwwLjIsMC45eiIvPg0KPC9zdmc+DQo=);
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.acode-side-menu-item.active-item {
    background-color: #4d4d4d;
    color: #fff;
}

.acode-side-menu-sub-item .acode-side-menu-item.active-item {
    background-color: rgba(77, 77, 77, 0.6) !important;
    color: #fff;
}


[ng-include="pageUrl"] {
    width: calc(772px);
    display: inline-block;
    vertical-align: top;
    /* overflow: auto; */
    padding-bottom: 60px;
    /* margin-right: -440px; */
}

.acode-button-start {
    margin-top: 0;
}

.acode-picker-alignment label {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    padding-bottom: 20px;
    cursor: pointer;
    height: 100%;
    /* margin-left: -1px; */
    border: 1px solid #b2b2b2;
}

.acode-picker-column {
    /* border-radius: 5px; */
    /* border: 1px solid #b2b2b2; */
    overflow: hidden;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    /* height: 160px; */
    /* border-top: 1px solid #b2b2b2; */
    /* border-left: 1px solid #b2b2b2; */
    /* border-top-left-radius: 5px; */
    overflow: hidden;
    /* border-top-right-radius: 0px; */
}

.acode-picker-overall input {
    display: none;
}

.acode-picker-overall label {
    width: 145.5px;
    text-align: center;
    padding-top: 0px;
    cursor: pointer;
    border-left: 2px solid #b2b2b2;
    margin: auto;
    margin-left: -5px;
    height: 50px;
    line-height: 50px;
    font-weight: 100;
    /* height: 62px; */
    font-size: 16px;
    color: #666666;
    vertical-align: top;
    border-bottom: 2px solid #b2b2b2;
}

.acode-picker-overall-title {
    background-color: #666666;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 42px;
    padding-left: 20px;
    color: #fff;
    cursor: default;
    border-top: none;
}

.acode-picker-wrapper {
    /* width: 726px; */
}

.acode-picker-overall label:last-child {
    margin-right: -1px;
    /* background: red; */
    position: relative;
    border-right: 2px solid #b2b2b2;
    left: 0px;
    width: 148px;
    border-bottom-right-radius: 5px;
}

.acode-picker-overall label:nth-child(2) {
    margin-left: 0px;
    border-bottom-left-radius: 5px;
    display: inline-block;
}

.acode-picker-overall {
    border-top: none;
}

.acode-picker-overall input:checked + label {
    border: 2px solid #7ac943;
    border-width: 2px;
    position: relative;
    z-index: 10;
    line-height: 46px;
    padding-left: 2px;
    padding-top: 0px;
}






.acode-picker-alignment input {
    display: none;
}

.acode-picker-alignment label {
    font-weight: 500;
    cursor: pointer;
    padding-bottom: 30px;
}

.acode-picker-alignment {
    padding-top: 5px;
    margin-left: -1px;
    width: 146px;
    padding-bottom: 0;
    text-align: center;
    vertical-align: top;
    padding: 10px;
    border: 2px solid #b2b2b2;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}

.acode-picker-alignment:first-child {
    margin-left: 0;
    /* border-left: none; */
}

.acode-picker-alignment input:checked + label {
    border-color: #7ac943;
    /* position: relative; */
    z-index: 10;
    border-width: 2px;
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
}

.acode-picker-rational-title {
    text-transform: uppercase;
    color: #666666;
    font-size: 17px;
    cursor: default;
}

.acode-picker-rational-box {
    border: 2px solid #b2b2b2;
    min-height: 165px;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    max-width: 100%;
    cursor: text;
    font-family: "Open Sans";
}

.acode-picker-rational-box::-webkit-input-placeholder {
   color: #cccccc;
}

.acode-picker-rational-box:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

.acode-picker-rational-box::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

.acode-picker-rational-box:-ms-input-placeholder {  
   color: red;  
}

.acode-picker-column .acode-picker-alignment-wrapper:first-child {
	margin-top:0
}

.acode-picker-column .acode-picker-alignment-wrapper {
	/* margin-top: -1px; */
	display: table;
	/* height: auto; */
	/* margin-bottom: -43px; */
	/* border-top: 1px solid #b2b2b2; */
	/* border-left: 1px solid #b2b2b2; */
	/* border-radius: 5px; */
	/* overflow: hidden; */
}

.acode-picker-column .acode-picker-alignment-wrapper:first-child .acode-picker-alignment:first-child label {
    border-top-left-radius: 5px;

}

.acode-picker-column .acode-picker-alignment-wrapper:first-child .acode-picker-alignment:last-child label {
    border-top-right-radius: 5px;
}


.acode-picker-alignment-title {
    display: block;
    /* width: 100%; */
    height: 42px;
    line-height: 42px;
    color: #666666;
    background-color: #e6e6e6;
    font-size: 17px;
    padding-left: 17px;
    border: 2px solid #b2b2b2;
    /* margin-top: -1px; */
    border-bottom: none;
    /* border-top-left-radius: 5px; */
    text-transform: uppercase;
    /* border-top-right-radius: 5px; */
    cursor: default;
    border-top: none;
}

.acode-picker-alignment-title:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 2px solid #b2b2b2;
}

.acode-benchmark-h4-bold {
    font-weight: 700;
}

.acode-benchmark-h4-title {
    color: #e63e30;
    font-weight: 600;
}

.acode-picker-alignment:last-child {
    margin-right: -1px;
}

div .acode-benchmark-h4 {
    margin-top: 15px;
}

div:nth-child(3) .acode-benchmark-h4 {
	margin-top: 0px;
}

.acode-user-add-button {
    width: 190px;
}

.acode-button-blue-outline {
    color: #0090BA;
    border: 1px solid #0090BA;
    line-height: 40px;
    height: 42px;
}

.acode-user-button {
    text-transform: none;
}

.acode-benchmark-row-wrapper {
    width: 726px;
}


.acode-survey.acode-standalone {
    min-width: 992px;
}

.acode-snapshot-row-title {
    width: 189px;
    min-height: 40px;
    vertical-align: middle;
    padding: 10px 10px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    border-right: 1px solid #b2b2b2;
    display: table-cell;
    vertical-align: top;
    cursor: default;
}

.acode-institute-snapshot tr {
    border: 1px solid #b2b2b2;
	border-left: none;
	border-right: none;
}

.acode-institute-snapshot tr:first-child {
	border-top: none
}

.acode-institute-snapshot tr:last-child {
	border-bottom: none
}


.acode-snapshot-row-description {
    width: 151px;
    padding: 5px;
    border-right: 1px solid #b2b2b2;
    /* font-size: 10px; */
    font-family: "Open Sans" !important;
    overflow: hidden;
    /* cursor: pointer; */
}

.acode-snapshot-row-hosted {
    border-right: 1px solid #b2b2b2;
    padding: 5px;
    width: 71px;
    vertical-align: top;
}

.acode-snapshot-row-consideringAlternatives {
    border-right: 1px solid #b2b2b2;
    width: 79px;
    padding: 5px;
    vertical-align: top;
}

.acode-snapshot-row-piloting {
    /* border-right: 1px solid #b2b2b2; */
    padding: 5px;
    width: 70px;
    vertical-align: top;
}

.acode-institute-snapshot table {
    width: 100%;
    padding: 5px;
}

.acode-institute-snapshot select,
.acode-institute-snapshot input {
    width: 100%;
    font-size: 11px;
    height: 31px;
    padding: 6px;
}

.acode-institute-snapshot th {
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
}


[data-hint]:after {
    font-size: 14px;
    font-weight: 100;
    text-transform: none;
    /* width: 235px; */
    line-height: 15px;
    display: block !important;
    /* height: auto; */
    white-space: pre-wrap;
    bottom: 100%;
    left: 0;
    position: absolute;
    z-index: 10000000;
    max-width: 230px;
    /* overflow: auto; */
    /* word-wrap: break-word; */
    min-height: 30px!important;
    white-space: initial !important;
}

.acode-tab {
    display: inline-block;
    width: 160px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #fff;
    border-bottom: none;
    background-color: #fff;
    cursor: pointer;
    padding-top: 2px;
}

.acode-tabs-holder {
    border-bottom: 1px solid #b2b2b2;
    text-align: center;
    margin-bottom: 20px;
}

.acode-tab.active-tab {
    border: 1px solid #b2b2b2;
    font-weight: 600;
    position: relative;
    bottom: -1px;
    border-bottom: none;
    padding-top: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.acode-button-blue-outline.active-button {
    background-color: #0090BA;
    color: #fff;
}

.acode-team-consolidation-header {
    background-color: #E63E30;
    /* height: 50px; */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 14px;
    color: #fff;
    font-size: 20px;
}

.acode-bold-100 {
    font-weight: 100;
}

.acode-bold-300 {
    font-weight: 300;
}

.acode-bold-600 {
    font-weight: 600;
}

.acode-black-bar {
    height: 33px;
    background-color: #333333;
}

.acode-team-consolidation-rational-and-evidence-title {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.acode-team-consolidation-rational-and-evidence-textarea {
    border: none;
    width: 100%;
    height: 100%;
    min-height: 130px;
    resize: none;
}

.acode-team-consolidation-rational-and-evidence-item-wrapper {
    width: 50%;
    display: inline-block;
    border: 1px solid #b2b2b2;
    padding: 10px;
    height: 100%;
    vertical-align: top;
}

.acode-team-consolidation-rational-and-evidence-item-wrapper:last-child {
    margin-left: -4px;
}

.acode-team-consolidation-score-box {
    border: 1px solid #b2b2b2;
    margin-left: -5px;
    display: inline-block;
    width: 20.05%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
}

.acode-team-consolidation-score-box:nth-child(2) {
    margin-left: 0;
}

.acode-team-consolidation-score-box:nth-child(4) {
    margin-left: -5px;
}

.acode-team-consolidation-score-box:nth-child(6) {
    margin-left: -5px;
    width: 20.3%;
}

.acode-team-consolidation-score-box:nth-child(8) {
    margin-left: -5px;
}

.acode-team-consolidation-score-wrapper {
    margin-bottom: -6px;
}

.acode-team-consolidation-question-title {
    background-color: #F2F2F2;
    border: 1px solid #b2b2b2;
    margin-bottom: -1px;
    margin-top: -1px;
    margin-right: 0px;
    padding: 10px;
    text-align: left;
}

.acode-team-consolidation-score-wrapper {}

.acode-team-consolidation-score-wrapper input {
    display: none;
}

input:checked + .acode-team-consolidation-score-box {
    border-color: #7ac943;
    border-width: 2px;
    position: relative;
    z-index: 10;
    /* margin-top: -1px; */
    height: 40px;
    line-height: 37px;
}

.acode-includers {
    padding-bottom: 20px;
}
.default-cursor,
.default-cursor * {
	cursor:default !important;
}

.acode-scoping-statement-text {
    font-size: 15px;
    /* padding-left: 30px; */
    font-weight: 100;
    padding-bottom: 0;
}

.acode-scoping-statement-title {
    text-transform: uppercase;
}

.acode-institute-profile-row-input > div {
    /* margin-left: -4px; */
    background-color: #fff;
    /* min-height: 300px; */
    height: 140px;
    overflow: auto;
    padding: 10px;
    /* padding-top: 7px; */
    line-height: 6px;
    font-family: "Open Sans";
    font-size: 14px;
}

.acode-institute-profile-wrapper {
    width: 704px;
}

.acode-institute-profile-row-input > div * {
    line-height: normal;
}

.acode-institute-profile-row-input > div:focus {
    outline: 1px solid #2B62FF;
}

.acode-scoping-statement-title {
    font-size: 18px;
}

.acode-report-institute-title {
    font-size: 11px;
    font-weight: 700;
    padding: 5px;
    width: 250px;
    text-align: left !important;
    /* border-bottom: 1px solid #B2B2B2; */
}

td {}

.acode-benchmark-report {border-top: 1px solid #b2b2b2;}

.acode-benchmark-report-wrapper {
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    /* overflow: hidden; */
    margin-bottom: 40px;
}

.acode-benchmark-report td {
    border-bottom: 1px solid #B2B2B2;
    border-right: 1px solid #B2b2b2;
    text-align: center;
    padding: 5px 3px;
    position: relative;
    /* border: 1px solid #b2b2b2; */
    /* cursor: pointer; */
}

.acode-benchmark-report tr:last-child td {
    border-bottom: none;
}

.acode-benchmark-report td:last-child {
    border-right: none;
}

.acode-benchmark-report-pi-title {
    font-weight: 700;
}

.acode-benchmark-report-pi-title-number {
    color: #f00;
    font-weight: 700;
}

[data-hint] {
    cursor: default;
}

.acode-benchmark-report-results-title div {
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    cursor: default;
}



.acode-benchmark-report [data-hint]:after {
    max-width: 770px;
    width: 800px;
    font-size: 10px;
}

.acode-team-consolidation-wrapper {
    margin-top: 20px;
}

table.acode-team-consolidation-question-overall {
    width: 100%;
}

.acode-results-overview-title {
    text-align: left !important;
}

.acode-team-consolidation-rational-title {
    text-align: left;
    padding-left: 11px;
}

.acode-team-consolidation-evidence-title {
    text-align: left;
    padding-left: 11px;
    padding-bottom: 10px;
}

span.acode-bold-700 {
    font-weight: 700;
}

.acode-team-consolidation-question-overall td {
    /* border-left: 1px solid #b2b2b2; */
    border-top: 1px solid #b2b2b2;
    padding: 10px;
    border-bottom: 1px solid #b2b2b2 !important;
}

table.acode-team-consolidation-question-overall {
    margin-top: -10px;
    width: calc(100% - 1px);
}

.acode-team-consolidation-question-overall td:first-child {
    border-left: none;
}

.acode-team-consolidation-question-overall td:last-child {
    /* border-right: 1px solid #b2b2b2; */
}

.acode-benchmark-report-results.acode-active-report-item {
    background-color: #0090ba;
    color: #fff;
}

.acode-benchmark-report-results {
    cursor: pointer;
}

.acode-team-consolidation-question-overall td:first-child {
    border-left: 1px solid #b2b2b2;
    position: static;
}

.acode-benchmark-report-results-title {
    text-align: left !important;
}

.acode-benchmark-report-results-title input {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 1px;
}

.acode-benchmark-report-results-title label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 17px;
    padding-left: 5px;
    cursor: pointer;
    font-size: 13px;
}

.acode-team-consolidation-question-overall td.active-item {
    background-color: #7ac943;
    color: #fff;
}

.acode-results-overview-table {
    margin: -7px;
    width: calc(100% + 14px);
}

.acode-results-overview-title {
    padding: 10px !important;
    padding-left: 16px !important;
    padding-top: 17px !important;
    font-size: 16px;
    font-weight: 600;
}


td.acode-benchmark-report-results.acode-no-data {
    cursor: default;
}

.acode-no-users {
    padding: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.acode-benchmark-report-title {
    padding: 10px;
    padding-top: 0;
    margin-bottom: 0;
}

.green-border {
    border: 2px solid #7ac943;
    position: relative;
    /* top: 3px; */
    z-index: 9999;
}

td.acode-picker-alignment {}

.acode-picker-alignment.green-border-left {
    border-right-color: #7AC943;
}

.pen {
    -webkit-user-select: text !important;
    -moz-user-select:  text !important;
    -ms-user-select: text !important;
    user-selct:  text !important;
    overflow: auto;
}

.acode-picker-overall input:checked + label + input + label {
    border-left-color: transparent;
    padding-top: 0px;
}

.acode-team-consolidation-rational-and-evidence-wrapper {
    padding-bottom: 50px;
}

.acode-benchmark-report--subtitle {}

.acode-benchmark-report-sub-title {
    font-size: 19px;
    padding: 10px;
    padding-top: 0;
    margin-top: 0p;
}

.acode-snapshot-row-description * {font-family: "Open Sans";/* max-width: 179px !important; *//* margin-right: -19px; */overflow: auto;/* height: 100%; */}

button.confirm {
    background-color: rgb(71, 192, 247) !important;
}

.acode-snapshot-row-description [multiline] {
    width: 171px;
    padding: 5px;
}

.mce-tinymce button {
    background-color: initial !important;
    /* height: 10px; */
    margin: 0;
}

.sweet-alert {
    top: 37px;
    margin-top: 0 !important;
    position: fixed;
    z-index: 10000;
}

.mce-container-body {
    z-index: 10000000;
    position: relative;
}

.grey-text {
    color: darkgrey;
}

.mce-tinymce button {
    border-radius: 0;
    background-color: transparent !important;
}

.acode-button-view-profile {
    display: inline-block;
    padding: 0 20px;
    margin-top: 0;
}

div#mceu_59-body {
    text-transform: uppercase;
}